
 

  .back
{
    width: 40px;
    height: 40px;
    background: url(../public/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }

.scheda{
  height: 75vh;
  width: 90vw;
  background: white;
  margin-bottom: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoProdotto, .descrizione, .azioniProdotto{
  height: 25%;
  width: 98%;
}

.fotoProdotto{
  width: 50%;
  height: 100%;
}

.azioniProdotto{
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.infoProdotto{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testoProdotto{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.sopra, .sotto{
  width: 80%;
}

.sotto{
  margin-top: 10px;
}

.descrizione{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}